.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  background-color: white;
}






.userContainerLg{
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 12px;
}

.userContainerLg figure{
  flex-basis: 25%;
  padding: 2rem;
}

.userContainerLg img{
  width: 100%;
  border-radius: 12px;
}

.userContainerLgContent{
  flex-basis: 75%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,min-content);
  padding: 2rem;
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.userName{
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;

}

.userJob{
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 4rem;
}

.userText{
  grid-column: 1/-1;
}

.userText:not(:last-child) {
  margin-bottom: 3rem;
}

.emailInfo{
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  color: #4F4F4F;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.emailInfo span{
  margin-right: 1.6rem;
}


.phoneInfo{
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  color: #4F4F4F;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.phoneInfo span{
  margin-right: 1.6rem;
}







.userContainerSm{
  max-width: 40rem;
  background-color: white;
  border-radius: 12px;
  margin: 6rem auto;
  width: 100%;

}

.imgSmContainer{
  padding: 2rem;
  height: 40%;
}

.userContainerSmImg{
  width: 100%;
  border-radius: 1.2rem;
}

.userSmName{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: .6rem;

}

.userSmJob{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 3rem;

}

.userSmText{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 3.4rem;
  margin-left: 2rem;
  padding-bottom: 3.4rem;
  color: #828282;
}

.iconCont{
  padding-left: 2rem;
}




  



  

.projectContainerLg{
  max-width: 120rem;
  margin: 6rem auto;
  border-radius: 1.2rem;
  background-color: white;
  width: 100%;
  padding: 2.2rem;
  display: flex;
  align-items: center;
}

.projectLgImg{
  flex-basis: 30%;
}

.projectLgImg img{
  width: 100%;
  border-radius: 1.2rem;
}

.projectLgContent{
  flex-basis: 60%;
  padding-left: 5rem;
}

.tech{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;

}

.tech ul{
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-bottom: 2.5rem;
}

.projectLgName{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 1.8rem;

}

.projectLgText{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 5rem;

}



.button1{
  padding: 1.3rem 4rem;
  background-color: #2F80ED;
  border: 1px solid #2F80ED;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border-radius: 12px;
  margin-right: 1.1rem;

}

.button2{
  padding: 1.3rem 4rem;
  background-color: white;
  border: 1px solid #2F80ED;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #2F80ED;
  border-radius: 12px;
}



.projectContainerSm{
  max-width: 40rem;
  background-color: white;
  border-radius: 12px;
  margin: 6rem auto;
  width: 100%;
  padding: 2.2rem;
}

.projectSmImg{
  height: 40%;
}

.projectSmImg img{
  width: 100%;
  border-radius: 1.2rem;
}

.projectSmContent{
  margin-top: 2.2rem;
}

.projectSmName{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.8rem;
  color: #333333;

}

.projectSmText{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 4.1rem;

}







.skillsLgContainer{
  max-width: 120rem;
  padding: 2.2rem;
  background-color: white;
  margin: 6rem auto;
  width: 100%;
  border-radius: 1.2rem;
}

.skillsTitle{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
}

.skillsList{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  list-style: none;
  margin-top: 1.6rem;
  gap: 2.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  grid-column-gap: 5rem;

}

.skillsItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillsItem p{
  width: 20%;
}

.skillsValue{
  height: 9px;
  border-radius: 12px;
  width: 70%;
  background-image: linear-gradient(to right, #2F80ED 50%, #C4C4C4 50%);
}









.skillsSmContainer{
  box-sizing: content-box;
  max-width: 40rem;
  padding: 2.2rem;
  background-color: white;
  margin: 6rem auto;
  width: 100%;
  border-radius: 1.2rem;

}

.skillsSmList{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.6rem;
  gap: 2.5rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
}








.blogLgContainer{
  max-width: 120rem;
  padding: 2.2rem;
  background-color: white;
  margin: 6rem auto;
  width: 100%;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.blogContent{
  flex-basis: 50%;
}

.blogContent .intro{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #E0E0E0;
  margin-bottom: 3rem;

}

.blogContent h2{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 2.6rem;
  color: #333333;

}

.blogTextContent{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 3rem;

}

.last{
  margin-bottom: 6rem;
}

.blogLink{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #2F80ED;

}

.blogImg{
  flex-basis: 50%;
  
}

.blogImg img{
  max-height: 350px;
  float: right;
  border-radius: 12px;
}






.blogSmContainer{
  max-width: 50rem;
  padding: 2.2rem;
  background-color: white;
  margin: 6rem auto;
  width: 100%;
  border-radius: 1.2rem;
  display: grid;
  grid-template-columns: 35% 65%;
  overflow: hidden;
}

.blogSmContent{
  grid-column: 1/-1;
}

.introSm{
  grid-column: 1/2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #E0E0E0;
}

.titleBlogSm{
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2.1rem;
  color: #333333;
}
.blogSmContent{
  grid-column: 1/-1;
  margin-top: 5rem;
}

.blogSmImg{
  grid-column: 2/3;
  grid-row: 2/3;
  
}

.blogSmImg img{
  width: 110%;
  border-radius: 12px;
}






.experiencesContainer{
  max-width: 120rem;
  background-color: white;
  padding-left: 2.4rem;
  padding-top: 2.4rem;
  width: 100%;
  margin: 6rem auto;
  border-radius: 12px;
}

.experiencesTitle{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;

}

.experinecesContainerr{
  display: flex;
}

.experince{
  margin-top: 5rem;
  display: flex;
  padding: 0rem 0rem 3rem 0rem;
}

.experince figure{
  flex-basis: 20%;
  padding: .5rem;
  margin-right: 1.6rem;
}

.experince img{
  width: 100%;
}

.experienceContent{
  flex-basis: 80%;
}

.experienceDate{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-bottom: 1.2rem;
}

.experienceRole{
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3.3rem;
  color: #333333;

}

.experinceText{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  width: 70%;
  margin-bottom: 3.5rem;
}


.experiencesContainerSm{
  max-width: 40rem;
  background-color: white;
  padding-left: 2.4rem;
  padding-top: 2.4rem;
  width: 100%;
  margin: 6rem auto;
  border-radius: 12px;
}

.experinecesContainerrSm{
  display: flex;
  flex-direction: column;
}

.experiencesTitleSm{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  margin-bottom: 4.4rem;
}

.experinceSm{
  padding: 0rem;
  display: flex;
}

.experinceSm figure{
  flex-basis: 20%;
  padding: .5rem;
  margin-right: 1.6rem;
}

.experinceSm img{
  width: 100%;
}

.experinceSm .experinceText{
  width: 100%;
}





.hobbiesContainer{
  max-width: 120rem;
  background-color: white;
  border-radius: 12px;
  padding: 2.2rem;
  width: 100%;
  margin: 6rem auto;
}

.hobbiesTitle{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  margin-bottom: 2.2rem;

}

.hobbiesSection{
  display: flex;
  gap: 5rem;
}

.hobbieContainer{

}

.hobbieContainer figure{
  
}

.hobbieContainer img{
  width: 100%;
  border-radius: 12px;
  margin-bottom: 2.5rem;
}

.hobbieContainer h4{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 1rem;

}

.hobbieContainer p{
  color: #828282;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.2rem;

}



.hobbiesContainerSm{
  max-width: 40rem;
  background-color: white;
  border-radius: 12px;
  padding: 2.2rem;
  width: 100%;
  margin: 6rem auto;
}


.hobbiesSectionSm{
  flex-direction: column;
}


.grid{
  border-top: 1px solid rgb(211, 211, 211);
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  grid-auto-flow: dense;
}

.grid2{
  border-top: 1px solid rgb(211, 211, 211);
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: flex-start;
}

.grid3{
  border-top: 1px solid rgb(211, 211, 211);
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items: center;
  grid-auto-flow: dense;
}


